<div id="<%= dom_id plugin %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= plugin.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= plugin.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Published:</strong>
    <%= plugin.published %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Major:</strong>
    <%= plugin.major %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Minor:</strong>
    <%= plugin.minor %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Patch:</strong>
    <%= plugin.patch %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= plugin.status %>
  </p>

</div>
